@import 'bootstrap/dist/css/bootstrap';

.navbar-brand {

align-content: center;
font-size: 1.5rem;

}

.mb-2{
color: blue;

}

h3 {

color: blue;

}

.sidebar {

width: 180px;
height: 100%;
border: 2px solid lightblue;
 }



.logo {
align-self: center;
     vertical-align: top;
    width: 60px;
    height: 60px;
    margin-right: 3px;
    margin-top: 1px;
}


.b{
  border: 1px solid lightblue;

}
