 <div class="col-sm-8">
  <table class="table-bordered table ">

<tbody>
  <tr>
    <h3 align="center"> Fee Reciept </h3>

    </tr>

<tr>
        <td>RECEIPT NUMBER.<div class="col">
     <input type="text" class="form-control" placeholder="">
    </div></td>

    	 <td>SELECT DATE <div class="col"> <%= date_field("receipt", "receipt_date", value: "1984-05-12")
       %></div></td>


      </tr>

      <tr>
        <td> <div class="col">STUDENT NAME
     <input type="text" class="form-control" placeholder="Student Name">
    </div></td>
     <td>

    <div class="col"> CLASS<input type="text" class="form-control" placeholder="Class">
    </div></td>

      </tr>


<tr>
        <td> <div class="col">FEES FOR THE ACADEMIC YEAR :
    </div></td>

     <td>
    <div class="col"> <select class="form-control" id="sel1" name="sellist1">
        <option>A.Y 2019-20</option>
        <option>A.Y 2020-21</option>
      </select>
    </div></td>

      </tr>


      <tr>
        <td>YOUR BRANCH<div class="col">
      <select class="form-control" id="sel1" name="sellist1">
        <option>COMPUTER</option>
        <option>I.T</option>
        <option>MECHANICAL</option>
        <option>CIVIL</option>
	<option>ENTC</option>
      </select>
    </div></td>

	<td>CATEGORY <div class="col">
      <input type="text" class="form-control" placeholder="Category"></div></td>


      </tr>


      <tr>
        <td>TUITION FEES<div class="col">
      <input type="text" class="form-control" placeholder="Tuition Fees">
    </div></td>
    	<td>DEVELOPMENT FEES <div class="col">
      <input type="text" class="form-control" placeholder="Development Fees">
    </div></td>


     </tr>

<tr>
    <td> OTHER FEES <div class="col">
      <input type="text" class="form-control" placeholder="Other fees ">
    </div></td>
 <td>PENDING FEES <div class="col">
      <input type="text" class="form-control" placeholder="Pending fees">
    </div></td>

  </tr>

<tr>
    <td> CASh/NEFT/D.D NO.<div class="col">
     <input type="text" class="form-control" placeholder="">
    </div></td>
    <td>DATE.<div class="col">
    <input type="date" id="birthday" name="date"></div></td>



</tr>

<tr>
    <td>AMOUNT RS. <div class="col">
     <input type="text" class="form-control" placeholder="">
    </div></td>
    <td>BANK NAME  <div class="col">
     <input type="text" class="form-control" placeholder="">
    </div></td>

</tr>

<tr>
    <td>ISSUING BRANCH NAME<div class="col">
     <input type="text" class="form-control" placeholder="">
    </div></td>
    <td>TOTAL RECV. AMOUNT <div class="col">
     <input type="text" class="form-control" placeholder="">
    </div></td>

</tr>
<tr>
    <td>RECV. AMOUNT IN WORDS <div class="col">
     <input type="text" class="form-control" placeholder="">
    </div></td>
    <td> STUDENT MOBILE NO. <div class="col">
     <input type="text" class="form-control" placeholder="">
    </div></td>

</tr>

<tr>
    <td> <div class="col">
     <button class="btn btn-primary" type="submit">SUBMIT</button>
      <button class="btn btn-primary" type="submit">DOWNLOAD RECEIPT </button>
    </div></td>


</tr>

  </tbody></table>
</div>
